@model codingflashcards.Models.FlashCardModel

<div class="tc-heading">
    <span>answer</span><span class="icon-dncode" style="float: right;"></span>
</div>
<div class="tc-heading" data-role="content">
    <div style="text-align: left; font-size: 10px;">
        <pre style="word-wrap: break-word; width: inherit">
        @Html.Raw(Model.Answer)
            </pre>
    </div>
    <a data-rel="back" class="icon-dnarrow-left" data-corners="false" style="text-decoration: none; color: black; font-weight: normal; float: left; padding-right: 10px; font-size: 25px;"></a>
    <a href="@Url.Action("index", "question", new { id = Model.QuestionId + 1})" class="icon-dnarrow-right" data-transition="flip" data-rel="page" data-corners="false" style="text-decoration: none; color: black; font-weight: normal; float: right; padding-right: 10px; font-size: 25px;"></a>
    </div>




